<!-- Modal slide in right -->
<div class="md-content">
	<div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h4 class="modal-title" id="mySmallModalLabel">%TITULO%</h4>
    </div>
	<div class="modal-body">
		%AVISOS%
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-danger md-close" data-dismiss="modal">%BT1%</button>
		%BOTOES%
	</div>
</div><!-- End div .md-content -->
