<!-- Page Heading Start -->
<div class="page-heading">
	<h1><i class='icon-user-add'></i> Hemocentros
	</h1>
</div>
<!-- Page Heading End-->

<!-- Your awesome content goes here -->
<div class="row">
	<div class="col-sm-12">
		<div class="widget">
			<div class="widget-header transparent">
				<h2>
					<strong>Informações </strong>Gerais
				</h2>
			</div>
			<div class="widget-content padding">
				<div id="horizontal-form">
					<form class="form-horizontal" role="form" id="FormID">
						<div class="col-sm-6">
							<div class="form-group col-sm-12" id="divCodEstadoID">
								<label for="input-text" class="col-sm-3 control-label">Estado</label>
								<div class="col-sm-9 pull-left">
									<select id="codEstadoID" name="codEstado" onChange="checkedEstado();" data-width="100%" data-live-search="true" class="selectpicker show-tick show-menu-arrow">
										%COD_ESTADO%
									</select>
								</div>
							</div>
						</div>
						<div class="col-sm-6">
							<div class="form-group col-sm-12 hidden" id="divCodCidadeID">
								<label for="input-text" class="col-sm-3 control-label">Cidade</label>
								<div class="col-sm-9 pull-left">
									<select id="codCidadeID" name="codCidade" onChange="buscarDescricao();" data-width="100%" data-live-search="true" class="selectpicker show-tick show-menu-arrow">
		
									</select>
								</div>
							</div>
						</div>
						
						<div id="divHemocentroDescricao"></div>
						
					</form>
				</div>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript" charset="%CHARSET%">
//SELECT
$('.selectpicker').selectpicker({style: 'btn-inverse border-gray-1',size: 4});

function checkedEstado(){
	var vEstado		  = $('#codEstadoID').val();
	
	if(vEstado){
		$.ajax({
	        type:"GET",
	        url: "%ROOT_URL%/Adm/getCidade.dp.php",
	        data:{codEstado: vEstado, indHemocentro: 1},
		}).done(function( data, textStatus, jqXHR) {
            $('#codCidadeID').html(data).selectpicker('refresh');
            
		}).fail(function( jqXHR, textStatus, errorThrown) {
	        $('#codCidadeID').html('<option>Nehuma cidade encontrada!</option>').selectpicker('refresh');
	    });
		
		$('.selectpicker').selectpicker({
	    	style: 'btn-inverse border-gray-1',
	    	size: 4
	    });
		
		$('#divCodCidadeID').removeClass("hidden");
	}else{
		$('#divCodCidadeID').addClass("hidden");
	}
}

function buscarDescricao(){
	var vCidade		  = $('#codCidadeID').val();
	
	if(vCidade){
		$.ajax({
	        type:"GET",
	        url: "%ROOT_URL%/Adm/getHemocentro.dp.php",
	        data:{codCidade: vCidade},
		}).done(function( data, textStatus, jqXHR) {
            $('#divHemocentroDescricao').html(data);

		}).fail(function( jqXHR, textStatus, errorThrown) {
	        $('#divHemocentroDescricao').html('Nehum hemocentro encontrado!');
	    });
		
	}else{
		$('#divHemocentroDescricao').html("");
	}
}
</script>
