<!-- Page Heading Start -->
<div class="page-heading">
	<h1><i class='icon-user-add'></i> Perguntas Frequentes
	</h1>
</div>
<!-- Page Heading End-->

<!-- Your awesome content goes here -->
<div class="row">
	<div class="col-sm-12">
		<div class="widget">
		<div class="widget-header transparent">
					<h2>
						Tire suas dúvidas a respeito da doação de sangue, 
						verificando as perguntas e respostas mais frequentes sobre o assunto: 
					</h2>
				</div>
			<div class="widget-content padding">
				<div class="panel-group accordion-toggle" id="accordiondemo">
					  <div class="panel panel-default">
					    <div class="panel-heading">
					      <h4 class="panel-title">
					        <a data-toggle="collapse" data-parent="#accordiondemo" href="#accordion1">
					          1. Qual é a quantidade de sangue coletada em cada doação?
					        </a>
					      </h4>
					    </div>
					    <div id="accordion1" class="panel-collapse collapse in">
					      <div class="panel-body">
							Em cada doação, são coletados aproximadamente 450 ml de sangue.
					      </div>
					    </div>
					  </div>
					  
					  <div class="panel panel-default">
					    <div class="panel-heading">
					      <h4 class="panel-title">
					        <a data-toggle="collapse" data-parent="#accordiondemo" href="#accordion2">
					          2. A quantidade de sangue coletada a cada doação vai afetar minha saúde?
					        </a>
					      </h4>
					    </div>
					    <div id="accordion2" class="panel-collapse collapse">
					      <div class="panel-body">
							Não, porque na doação de sangue se retira menos do que 10% do volume sanguíneo total de um adulto, por esse motivo só é permitida a doação por pessoas acima de 50 kg.
					      </div>
					    </div>
					  </div>
					  
					  <div class="panel panel-default">
					    <div class="panel-heading">
					      <h4 class="panel-title">
					        <a data-toggle="collapse" data-parent="#accordiondemo" href="#accordion3">
					          3. Quanto tempo demora para que meu organismo reponha a quantidade de sangue coletada na doação?
					        </a>
					      </h4>
					    </div>
					    <div id="accordion3" class="panel-collapse collapse">
					      <div class="panel-body">
							O plasma é reposto em algumas horas, as plaquetas se restabelecem em alguns dias, e as hemácias demoram alguns meses. Por esse motivo, a doação de sangue só deve ser realizada a cada 90 dias para os homens e 120 dias para as mulheres.
					      </div>
					    </div>
					  </div>
					  
					  <div class="panel panel-default">
					    <div class="panel-heading">
					      <h4 class="panel-title">
					        <a data-toggle="collapse" data-parent="#accordiondemo" href="#accordion4">
								4. Por que os homens podem doar sangue a cada 03 meses e as mulheres a cada 04 meses?
					        </a>
					      </h4>
					    </div>
					    <div id="accordion4" class="panel-collapse collapse">
					      <div class="panel-body">
								Devido à reposição dos estoques de ferro, que nas mulheres é mais demorada em virtude das perdas durante os ciclos menstruais.
					      </div>
					    </div>
					  </div>
					  
					  <div class="panel panel-default">
					    <div class="panel-heading">
					      <h4 class="panel-title">
					        <a data-toggle="collapse" data-parent="#accordiondemo" href="#accordion5">
								5. O que é doação de plaquetas por aférese?
					        </a>
					      </h4>
					    </div>
					    <div id="accordion5" class="panel-collapse collapse">
					      <div class="panel-body">
								É uma doação seletiva, onde um pequeno volume de plasma e prioritariamente as plaquetas são retiradas do doador através de uma máquina (separador celular). Esse procedimento pode ser realizado com 
								intervalos de 48h. Não há prejuízo na doação de plaquetas sistemática, sendo possível ser realizado 2 vezes por semana, 4 vezes ao mês e até 24 vezes ao ano, isso devido a perda plasmática durante a doação.
					      </div>
					    </div>
					  </div>
					  
					  <div class="panel panel-default">
					    <div class="panel-heading">
					      <h4 class="panel-title">
					        <a data-toggle="collapse" data-parent="#accordiondemo" href="#accordion6">
								6. O Material usado na doação de plaquetas é mesmo seguro?
					        </a>
					      </h4>
					    </div>
					    <div id="accordion6" class="panel-collapse collapse">
					      <div class="panel-body">
					      		Sim, todo o material usado, inclusive os kits são estéreis, descartáveis e apirogênicos (não causam febre).
					      </div>
					    </div>
					  </div>
					  
					  <div class="panel panel-default">
					    <div class="panel-heading">
					      <h4 class="panel-title">
					        <a data-toggle="collapse" data-parent="#accordiondemo" href="#accordion7">
								7. Se eu doar sangue uma vez, sou obrigado a doar de novo?
					        </a>
					      </h4>
					    </div>
					    <div id="accordion7" class="panel-collapse collapse">
					      <div class="panel-body">
								Não. A doação de sangue é um ato solidário e voluntário que depende da iniciativa de cada cidadão, e o retorno é o entendimento de que só nós somos a única fonte desse produto.
					      </div>
					    </div>
					  </div>
					  
					  <div class="panel panel-default">
					    <div class="panel-heading">
					      <h4 class="panel-title">
					        <a data-toggle="collapse" data-parent="#accordiondemo" href="#accordion8">
								8. É seguro doar sangue?
					        </a>
					      </h4>
					    </div>
					    <div id="accordion8" class="panel-collapse collapse">
					      <div class="panel-body">
								Sim, todo o material usado, inclusive os kits são estéreis, descartáveis eapirogênicos (não causam febre). Além disso, o doador passa por uma consulta, antes de doar, onde são avaliadas suas condições clínicas.
					      </div>
					    </div>
					  </div>
					  
					  <div class="panel panel-default">
					    <div class="panel-heading">
					      <h4 class="panel-title">
					        <a data-toggle="collapse" data-parent="#accordiondemo" href="#accordion9">
								9. É necessário estar em jejum para doar?
					        </a>
					      </h4>
					    </div>
					    <div id="accordion9" class="panel-collapse collapse">
					      <div class="panel-body">
								Não. É importante que o doador se alimente normalmente, evitando ingerir alimentos gordurosos no dia da doação. Após o almoço, é necessário esperar cerca de uma hora e meia para efetuar a doação de sangue.
					      </div>
					    </div>
					  </div>
					  
					  <div class="panel panel-default">
					    <div class="panel-heading">
					      <h4 class="panel-title">
					        <a data-toggle="collapse" data-parent="#accordiondemo" href="#accordion10">
								10. Corro algum risco de contaminação doando sangue?
					        </a>
					      </h4>
					    </div>
					    <div id="accordion10" class="panel-collapse collapse">
					      <div class="panel-body">
								Não. Todo o material utilizado é estéril, de uso único e descartável.
					      </div>
					    </div>
					  </div>
					  
					  <div class="panel panel-default">
					    <div class="panel-heading">
					      <h4 class="panel-title">
					        <a data-toggle="collapse" data-parent="#accordiondemo" href="#accordion11">
								11. Posso apresentar alguma reação doando sangue?
					        </a>
					      </h4>
					    </div>
					    <div id="accordion11" class="panel-collapse collapse">
					      <div class="panel-body">
								Raramente acontece e, na maioria das vezes, está relacionada com a ansiedade. As reações mais frequentes são queda de pressão, sensação de desmaio, náuseas e hematomas no local da punção. Mais raramente os 
								doadores podem apresentar vômitos e convulsões. Caso haja alguma reação, no local da coleta de sangue há sempre uma equipe preparada para atender a qualquer intercorrência.
					      </div>
					    </div>
					  </div>
					  
					  <div class="panel panel-default">
					    <div class="panel-heading">
					      <h4 class="panel-title">
					        <a data-toggle="collapse" data-parent="#accordiondemo" href="#accordion12">
								12. Durante o período menstrual, a mulher pode doar sangue?
					        </a>
					      </h4>
					    </div>
					    <div id="accordion12" class="panel-collapse collapse">
					      <div class="panel-body">
					      		Sim, não há nenhum risco para a saúde da mulher na doação de sangue.
					      </div>
					    </div>
					  </div>
					  
					  <div class="panel panel-default">
					    <div class="panel-heading">
					      <h4 class="panel-title">
					        <a data-toggle="collapse" data-parent="#accordiondemo" href="#accordion13">
								13. Por que há garantia de liberação do trabalho no dia da doação?
					        </a>
					      </h4>
					    </div>
					    <div id="accordion13" class="panel-collapse collapse">
					      <div class="panel-body">
					      		Porque 01 (um dia) é suficiente para o doador descansar e recuperar o volume sanguíneo doado sendo particularmente importante para aqueles 
								que exercem profissões que exijam esforço físico ou que possam comprometer a sua segurança pessoal ou de outras pessoas. (ex: motorista).
					      </div>
					    </div>
					  </div>
					  
					  <div class="panel panel-default">
					    <div class="panel-heading">
					      <h4 class="panel-title">
					        <a data-toggle="collapse" data-parent="#accordiondemo" href="#accordion14">
								14. É realizado algum exame no sangue doado?
					        </a>
					      </h4>
					    </div>
					    <div id="accordion14" class="panel-collapse collapse">
					      <div class="panel-body">
					      		Sim. Tipagem sanguínea, sorologia e NAT (teste do ácido nucleico) para hepatite C e HIV (vírus da Aids), sorologia para hepatite B, doença de Chagas, sífilis, e HTLV.
					      </div>
					    </div>
					  </div>
					  
					  <div class="panel panel-default">
					    <div class="panel-heading">
					      <h4 class="panel-title">
					        <a data-toggle="collapse" data-parent="#accordiondemo" href="#accordion15">
								15. Eu sou comunicado se algum exame der alterado?
					        </a>
					      </h4>
					    </div>
					    <div id="accordion15" class="panel-collapse collapse">
					      <div class="panel-body">
								Sim. Se algum exame der alterado, é enviada correspondência para a residência do doador solicitando o seu comparecimento para receber orientação médica e coletar nova amostra de sangue. É importante que o doador não deixe
								de vir ao Hemope para que possam ser esclarecidas as dúvidas. Resultados reagentes nos testes sorológicos de triagem podem ocorrer por vários motivos, não significando, necessariamente, que exista alguma doença.					      
					      </div>
					    </div>
					  </div>
					  
					  <div class="panel panel-default">
					    <div class="panel-heading">
					      <h4 class="panel-title">
					        <a data-toggle="collapse" data-parent="#accordiondemo" href="#accordion16">
								16. É possível doar sangue fazendo uso de medicamentos?
					        </a>
					      </h4>
					    </div>
					    <div id="accordion16" class="panel-collapse collapse">
					      <div class="panel-body">
					      		Depende do tipo da medicação. No dia da doação, durante a entrevista, é realizada essa avaliação.
					      </div>
					    </div>
					  </div>
					  
					  <div class="panel panel-default">
					    <div class="panel-heading">
					      <h4 class="panel-title">
					        <a data-toggle="collapse" data-parent="#accordiondemo" href="#accordion17">
								17. Quais os cuidados que devo ter após a doação?
					        </a>
					      </h4>
					    </div>
					    <div id="accordion17" class="panel-collapse collapse">
					      <div class="panel-body">
					      		O doador deve alimentar-se bem, ingerir bastante líquido e evitar bebidas alcoólicas, bem como, fumar nas primeiras duas horas e esforço físico no 
								dia da doação. Em caso do aparecimento de queixas nos primeiros 15 dias após a doação, o doador deve retornar ao hemocentro e informar as queixas para esclarecimentos.
					      </div>
					    </div>
					  </div>
					  
					  <div class="panel panel-default">
					    <div class="panel-heading">
					      <h4 class="panel-title">
					        <a data-toggle="collapse" data-parent="#accordiondemo" href="#accordion18">
								18. O que é feito com o sangue doado?
					        </a>
					      </h4>
					    </div>
					    <div id="accordion18" class="panel-collapse collapse">
					      <div class="panel-body">
					      		O sangue é separado em hemocomponentes, como concentrado de hemácias, concentrado de plaquetas e plasma fresco. Após a realização 
								dos testes laboratoriais, esses hemocomponentes são enviados aos hospitais para serem usados em pacientes que estão com sangramentos, em tratamento quimioterápico, para cirurgias, transplantes etc.
					      </div>
					    </div>
					  </div>
					  
					  <div class="panel panel-default">
					    <div class="panel-heading">
					      <h4 class="panel-title">
					        <a data-toggle="collapse" data-parent="#accordiondemo" href="#accordion19">
								19. Os exames realizados na doação se prestam para diagnóstico de possíveis doenças?
					        </a>
					      </h4>
					    </div>
					    <div id="accordion19" class="panel-collapse collapse">
					      <div class="panel-body">
					      		As características dos testes sorológicos são adequadas para a triagemlaboratorial antes da liberação da bolsa de sangue para transfusão, não sendo indicados para o diagnóstico de doenças.
					      </div>
					    </div>
					  </div>
					  
					  <div class="panel panel-default">
					    <div class="panel-heading">
					      <h4 class="panel-title">
					        <a data-toggle="collapse" data-parent="#accordiondemo" href="#accordion20">
								20. Se eu estiver em dúvida sobre a possibilidade de contaminação por algum vírus transmitido através da doação, devo doar sangue?
					        </a>
					      </h4>
					    </div>
					    <div id="accordion20" class="panel-collapse collapse">
					      <div class="panel-body">
					      		De forma nenhuma. O candidato com intenção de realizar os testes sorológicos não deve doar; primeiro porque os testes realizados não se 
								prestam para diagnóstico e segundo porque existe a possibilidade de ele se encontrar em "janela imunológica".
					      </div>
					    </div>
					  </div>
					  
					  <div class="panel panel-default">
					    <div class="panel-heading">
					      <h4 class="panel-title">
					        <a data-toggle="collapse" data-parent="#accordiondemo" href="#accordion21">
								21. O que é "janela imunológica"?
					        </a>
					      </h4>
					    </div>
					    <div id="accordion21" class="panel-collapse collapse">
					      <div class="panel-body">
					      		Janela imunológica corresponde ao período em que o organismo já está infectado, mas ainda não produz anticorpos suficientes para serem 
								detectados nos testes da triagem sorológica. O tempo varia de doença para doença e, com o aperfeiçoamento dos testes e o desenvolvimento de 
								outros, será possível a detecção cada vez mais precoce da infecção. Mas, por enquanto, é na entrevista de triagem clínica que se pode levantar 
								informações sobre situações de risco para janela imunológica. Daí, a importância da sinceridade do doador ao responder as perguntas feitas na triagem.
					      </div>
					    </div>
					  </div>
					  
					  <div class="panel panel-default">
					    <div class="panel-heading">
					      <h4 class="panel-title">
					        <a data-toggle="collapse" data-parent="#accordiondemo" href="#accordion22">
								22. Por que quem recebeu transfusão só pode doar sangue um ano depois?
					        </a>
					      </h4>
					    </div>
					    <div id="accordion22" class="panel-collapse collapse">
					      <div class="panel-body">
					      		Porque quem recebeu transfusão de sangue há menos de um ano pode estar no período denominado "janela imunológica", no qual as infecções nem sempre são detectadas nos exames. 
					      		O prazo de 12 meses para a doação de sangue inclui uma margem de segurança, que considera a variação do período de janela imunológica das diversas doenças transmissíveis pelo sangue.
					      </div>
					    </div>
					  </div>
					  
					  <div class="panel panel-default">
					    <div class="panel-heading">
					      <h4 class="panel-title">
					        <a data-toggle="collapse" data-parent="#accordiondemo" href="#accordion23">
								23. Por que são feitas tantas perguntas a respeito da vida sexual(comportamento sexual) do candidato à doação?
					        </a>
					      </h4>
					    </div>
					    <div id="accordion23" class="panel-collapse collapse">
					      <div class="panel-body">
					      		Porque várias doenças transmitidas por relações sexuais são também transmitidas pela transfusão de sangue. Algumas delas podem também demorar a ser identificadas nos exames 
					      		de sangue. Por isto, o triagista avalia se a pessoa esteve exposta a alguma situação com um risco maior que o habitual para adquirir doenças sexualmente transmissíveis (DST); 
								uma vez que todas as pessoas sexualmente ativas são consideradas sob risco de adquirir uma DST. Não poder doar por uma determinada situação, 
								não significa que a pessoa apresente comportamento de risco, que seja de grupo de risco ou promíscua. Significa apenas que ela deve aguardar um 
								prazo de segurança para que, se tiver adquirido alguma doença, o exame consiga detectá-la, protegendo o receptor do sangue.
					      </div>
					    </div>
					  </div>
					  
				</div>
				
			</div>
		</div>
	</div>
</div>
