<div class="error-container">
	<div class="well">
		<h1 class="grey lighter smaller">
			<span class="blue bigger-125">
				<i class="fa fa-exclamation-triangle"></i>
			</span>
			%MSG_1%
		</h1>
		<hr />
		<h3 class="lighter smaller">
			<i class="icon-wrench icon-animated-wrench bigger-125"></i>
			%MSG_2%
		</h3>
		<div class="space"></div>
		<div>
			<h4 class="lighter smaller">%MSG_3%</h4>
			<ul class="list-unstyled spaced inline bigger-110 margin-15">
				<li>
					<i class="icon-hand-right blue"></i>
					%MSG_4%
				</li>
				<li>
					<i class="icon-hand-right blue"></i>
					%MSG_5%
				</li>
			</ul>
		</div>
		<hr />
		<div class="space"></div>
		<h6 class="lighter smaller red">%MSG_ARQUIVO%</h6>
		<h6 class="lighter smaller red">%MSG_LINHA%</h6>
		<h6 class="lighter smaller red">%MSG_ERRO%</h6>
		<div class="space"></div>

		<div class="center">
			<a href="#" class="btn btn-grey">
				<i class="icon-arrow-left"></i>
				%MSG_VOLTAR%
			</a>

			<a href="%HOME_URL%" class="btn btn-primary">
				<i class="icon-home"></i>
				%MSG_INICIO%
			</a>
		</div>

	</div>
</div>
