<div class="row">
	<div class="col-xs-12">
		<!-- PAGE CONTENT BEGINS -->

		<div class="error-container">
			<div class="well">
				<h1 class="grey lighter smaller">
					<span class="blue bigger-125">
						<i class="icon-sitemap"></i>
						404
					</span>
					Página não encontrada
				</h1>

				<hr />
				<h3 class="lighter smaller">Não encontramos a página solicitada !!!</h3>

				<div>

					<div class="space"></div>
					<h4 class="smaller">Tente as alternativas abaixo:</h4>

					<ul class="list-unstyled spaced inline bigger-110 margin-15">
						<li>
							<i class="icon-hand-right blue"></i>
							Verifique o endereço digitado
						</li>

						<li>
							<i class="icon-hand-right blue"></i>
							Acesse através dos menus
						</li>

						<li>
							<i class="icon-hand-right blue"></i>
							Contate-nos
						</li>
					</ul>
				</div>

				<hr />
				<div class="space"></div>

				<div class="center">
					<a href="#" class="btn btn-grey">
						<i class="icon-arrow-left"></i>
						Voltar
					</a>

					<a href="%HOME_URL%" class="btn btn-primary">
						<i class="icon-home"></i>
						Início
					</a>
				</div>
			</div>
		</div><!-- PAGE CONTENT ENDS -->
	</div><!-- /.col -->
</div><!-- /.row -->