<div class="page-title">
    <div class="page-breadcrumb">
        <ol class="breadcrumb">
            <li><a href="index.html">Home</a></li>
            <li class="active">%NOME%</li>
        </ol>
    </div>
</div>

<div id="main-wrapper">
	<div class="row">
		<div class="col-sm-12 panel panel-white">
			<div class="widget-header">
				<h1>&nbsp;<i class="%IC%"></i>&nbsp;%NOME%  <button id='link01ID' class='btn btn-xs btn-primary btn-round' title="Adicionar" onclick="javascript:LoadUrl('%URLADD%');"><i class="fa fa-plus-circle bigger-140"></i> Adicionar</button></h1>
			</div>
			
			<br>
			<div class="content">
				%GRID%
			</div>
		</div>
	</div>
</div>

<!-- Page Specific JS Libraries -->
<script src="%PKG_URL%/assets/plugins/datatables/js/jquery.datatables.min.js"></script>
<script src="%PKG_URL%/assets/js/pages/table-data.js"></script>

<script>
	var vUrl = '%URLADD%';
	
	if (vUrl == '') {
		$('#link01ID').hide();
	} 
	
    $('.table').dataTable({
        "language": {
            "url": "//cdn.datatables.net/plug-ins/1.10.13/i18n/Portuguese-Brasil.json"
        }
    });
</script>
