<div class="md-content">
    <form class="form-horizontal" id="FormID" method="post">
	<input type="hidden" name="%VAR%" value="%VAR_VALUE%">
	<input type="hidden" name="%VAR2%" value="%VAR_VALUE2%">
	<input type="hidden" name="%VAR3%" value="%VAR_VALUE3%">
	<input type="hidden" name="id" value="%ID%">
    
    <div class="modal-header">
     	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
   		<h4><i class="fa fa-trash-o"></i> Excluir!</h4>
   	</div>
	<div class="modal-body">
		%TEXTO%
	</div>
	
	<div class="modal-footer">
		<button type="submit" class="btn btn-primary" id="bSubmitID" %PODE_REMOVER% >Remover</button>
		<button type="button" class="btn btn-warning md-close" data-dismiss="modal">Fechar</button>
	</div>
	
    </form>
</div>



<script>
$('#FormID').submit(function() {
	$.ajax({
		type:	"POST", 
		url:	"%DP%",
		data:	$('#FormID').serialize(),             
	}).done(function( data, textStatus, jqXHR) {
		MostraAviso("Fechar");
		LoadUrl('%URLVOLTAR%');
	}).fail(function( jqXHR, textStatus, errorThrown) {
		MostraAviso("Fechar");
	});
	return false; 
});
</script>
