<div class="page-title">
    <h3>Dashboard</h3>
    <div class="page-breadcrumb">
        <ol class="breadcrumb">
            <li><a href="index.html">Home</a></li>
            <li class="active">Dashboard</li>
        </ol>
    </div>
</div>

<div id="main-wrapper">
	<div class="row">
		<div class="col-md-8">
            <div class="panel panel-white">
                <div class="panel-body">
                    <div id="calendar"></div>
                </div>
            </div>
        </div>
	</div>
</div>

<script type="text/javascript" charset="%CHARSET%">
	
	    $('#calendar').fullCalendar({
	    	header: {
				left: 'prev,next today',
				center: 'title',
				right: 'month,agendaWeek,agendaDay'
			},
			lang: 'pt-br',
			defaultView: 'agendaWeek',
			allDaySlot: false,
			allDayText: 'all-day',
			scrollTime: '05:00:00',
			slotDuration: '00:30:00',
			minTime: '05:00:00',
			maxTime: '24:00:00',
			
			events: [
		         {
		             title:  'My Event',
		             start:  '2017-02-23 23:00:00',
		             end:  '2017-02-23 24:00:00',
		             allDay: false,
		             color: 'green'
		         },
		         {
		             title:  'My Event 2',
		             start:  '2017-02-23 23:00:00',
		             end:  '2017-02-23 24:00:00',
		             allDay: false,
		             color: 'blue'
		         }
		     ]
	    });
	
</script>