<!-- Page Heading Start -->
<div class="page-title">
	<div class="page-breadcrumb">
		<h3><i class='icon-user-add'></i> Novo Usuário 
			<a id='a01ID' class='btn btn-default' title="Voltar" href="javascript:LoadUrl('%URLVOLTAR%');"><i class="fa fa-arrow-left bigger-130"></i></a> 
			<a id='a01ID' class='btn btn-default' title="Novo índice" href="javascript:LoadUrl('%URLNOVO%');"><i class="fa fa-file bigger-130"></i></a>
		</h3>
	</div>
</div>
<!-- Page Heading End-->

<div id="main-wrapper">
	<!-- Your awesome content goes here -->
	<div class="row">
		<div class="col-md-12">
			<div class=" panel panel-white">
				<div class="panel-heading clearfix">
	            	<h2 class="panel-title"><strong>Informações </strong>Gerais</h2>
	            </div>
				<div class="panel-body">
					<form class="form-horizontal" role="form" id="FormID">
					<input type="hidden" id="codUsuarioID" name="codUsuario" value="%COD_USUARIO%">
						<div class="col-sm-6">
							<div class="form-group col-sm-12" id="divNomeID">
								<label for="input-text" class="col-sm-3 control-label">Nome</label>
								<div class="col-sm-9 pull-left">
									<input type="text" class="form-control" maxlength="200" id="nomeID" name="nome" value="%NOME%" placeholder="Nome">
									<div id="divHelpNomeID"></div>
								</div>
							</div>
							<div class="form-group col-sm-12" id="divEmailID">
								<label for="input-text" class="col-sm-3 control-label">Email</label>
								<div class="col-sm-9 pull-left">
									<input type="email" class="form-control" maxlength="100" id="emailID" name="email" value="%EMAIL%" placeholder="Email">
									<div id="divHelpEmailID"></div>
								</div>
							</div>
							<div class="form-group col-sm-12" id="divTelefoneID">
								<label for="input-text" class="col-sm-3 control-label">Telefone</label>
								<div class="col-sm-9 pull-left">
									<input type="text" class="form-control" maxlength="14" id="telefoneID" name="telefone"  value="%TELEFONE%" data-type="mask" data-mask="(00)00000-0000" data-mask-retira="1" placeholder="Telefone">
									<div id="divHelpTelefoneID"></div>
								</div>
							</div>
						</div>
						<div class="col-sm-6">
							<div class="form-group col-sm-12" id="divDataNascimentoID">
								<label for="input-text" class="col-sm-3 control-label">Data Nascimento</label>
								<div class="col-sm-9 pull-left">
									<input type="text" class="form-control datepicker-input" maxlength="10" id="dataNascimentoID" name="dataNascimento" value="%DATA_NASCIMENTO%" data-type="mask" data-mask="99/99/9999" data-mask-retira="0" placeholder="Data de Nascimento">
									<div id="divHelpDataNascimentoID"></div>
								</div>
							</div>
							<div class="form-group col-sm-12" id="divCodSexoID">
								<label for="input-text" class="col-sm-3 control-label">Sexo</label>
								<div class="col-sm-9 pull-left">
									<select id="codSexoID" name="codSexo" class="js-states form-control" tabindex="-1" style="display: none; width: 100%">
										%COD_SEXO%
									</select>
									<div id="divHelpCodSexoID"></div>
								</div>
							</div>
							<div class="form-group col-sm-12" id="divCodPerfilID">
								<label for="input-text" class="col-sm-3 control-label">Perfil acesso</label>
								<div class="col-sm-9 pull-left">
									<select id="codPerfilID" name="codPerfil" class="js-states form-control" tabindex="-1" style="display: none; width: 100%">
										%COD_PERFIL%
									</select>
									<div id="divHelpCodPerfilID"></div>
								</div>
							</div>
						</div>
						
						<div class="form-group">
							<div class="col-sm-offset-9 col-sm-10">
								<button type="button" id="btnSubmitID" class="btn btn-primary">
									<i class="fa fa-check bigger-110"></i> Salvar
								</button>
								<button type="button" class="btn btn-info" id="cancel"
									onclick="javascript:LoadUrl('%URLVOLTAR%');">
									<i class="fa fa-undo bigger-110"></i> Voltar
								</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript" charset="%CHARSET%">
//('.datepicker-input').datepicker();

//SELECT
$('select').select2();

//Mascaras
$('[data-type="mask"]').each(function( index ) {
	$( this ).mask($( this ).attr('data-mask'));
});

$('#btnSubmitID').on("click", function(e) {
	
	var vOK 	= validaUsuario();
	
	if(vOK == false) {
		return false;
	}else{
		$('#FormID').submit();
	}
});

//Submit formulário
$('#FormID').submit(function() {
	$('#btnSubmitID').html('Aguarde...  <i class="ace-icon fa fa-spinner fa-spin orange bigger-125"></i>');
	$('#btnSubmitID').attr("disabled","disabled");
	$('#cancel').attr("disabled","disabled");
	
	// Retirar mask para salvar
	$('[data-mask-retira="1"]').each(function( index ) {
		$( this ).val($( this ).cleanVal());
	});
	
	$.ajax({
		type:	"POST", 
		url:	"%DP%",
		data:	$('#FormID').serialize(),
	}).done(function( data, textStatus, jqXHR) {
		if (checaRetornoOK(data) == true) {
			$('#codUsuarioID').val(GetCodRetorno(data));
			MostraAviso("Fechar",'Novo Usuário', '%URLNOVO%');
		}else{
			MostraAviso("Fechar");
		}
		
		$('#DivModalID').on('hidden.bs.modal', function () {
			LimpaModalAviso();
			$('#DivModalID').off('hidden.bs.modal');
		});

		//Voltar o botão de salvar
		$('#btnSubmitID').html('<i class="fa fa-check bigger-110"></i> Salvar ');
		$('#btnSubmitID').attr("disabled",false);
		$('#cancel').attr("disabled",false);
		
	}).fail(function( jqXHR, textStatus, errorThrown) {
		MostraAviso(null);
	});
	
	// Reaplicar mask
	$('[data-mask-retira="1"]').each(function( index ) {
		$( this ).mask($( this ).attr('data-mask'));
		$( this ).trigger('keyup');
	});
	
	return false; 
});

function validaUsuario(){
	var vNome 		  = $('#nomeID').val();	
	var vEmail 		  = $('#emailID').val();
	var vTelefone	  = $('#telefoneID').val();
	var vDtNascimento = $('#dataNascimentoID').val();
	var vSexo		  = $('#codSexoID').val();
	var vPerfil		  = $('#codPerfilID').val();
	var vOK			  = true;

	// Nome
	if (!vNome) {
		$('#divNomeID').addClass('has-error');
		$('#divHelpNomeID').html(CriaSpanErro('Nome deve ser preenchido !!!'));
		vOK		= false;
	}else{
		$('#divNomeID').removeClass('has-error');
		$('#divHelpNomeID').html('');		
	}
	
	// Email
	if (!vEmail) {
		$('#divEmailID').addClass('has-error');
		$('#divHelpEmailID').html(CriaSpanErro('Email deve ser preenchido !!!'));
		vOK		= false;
	}else{
		$('#divEmailID').removeClass('has-error');
		$('#divHelpEmailID').html('');		
	}
	
	// Telefone
	if (!vTelefone) {
		$('#divTelefoneID').addClass('has-error');
		$('#divHelpTelefoneID').html(CriaSpanErro('Telefone deve ser preenchido !!!'));
		vOK		= false;
	}else{
		$('#divTelefoneID').removeClass('has-error');
		$('#divHelpTelefoneID').html('');		
	}
	
	// DtNascimento
	if (!vDtNascimento) {
		$('#divDataNascimentoID').addClass('has-error');
		$('#divHelpDataNascimentoID').html(CriaSpanErro('Data de nascimento deve ser preenchido !!!'));
		vOK		= false;
	}else{
		$('#divDataNascimentoID').removeClass('has-error');
		$('#divHelpDataNascimentoID').html('');		
	}
	
	// Sexo
	if (!vSexo) {
		$('#divCodSexoID').addClass('has-error');
		$('#divHelpCodSexoID').html(CriaSpanErro('Sexo deve ser escolhido !!!'));
		vOK		= false;
	}else{
		$('#divCodSexoID').removeClass('has-error');
		$('#divHelpCodSexoID').html('');		
	}
	
	// Perfil acesso
	if (!vPerfil) {
		$('#divCodPerfilID').addClass('has-error');
		$('#divHelpCodPerfilID').html(CriaSpanErro('Perfil acesso deve ser escolhido !!!'));
		vOK		= false;
	}else{
		$('#divCodPerfilID').removeClass('has-error');
		$('#divHelpCodPerfilID').html('');		
	}
	
	if (vOK == true) {
		return true ;
	}else{
		return false;
	}
}

</script>
